
.listStyle1 {
    list-style: lower-roman;
}

/*Estilo grid*/

table {
    border: solid 0.2rem gray;
    border-collapse: collapse;

}

thead tr {
    border-bottom: solid 0.2rem gray;


}
thead th {
    border-left: solid 0.1rem lightgray;
    font-size: 1.5rem;
}

td {
    border-bottom: solid 0.1rem lightgray;
    border-radius: 10px;
}

.letters {
    border-right: solid 0.2rem gray;
    font-size: 1.5rem;
    font-weight: bold;
}
.column {
    border-right: solid 0.1rem lightgray;
}

th, td {
    width: 3rem;
    height: 3rem;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    margin-top: 2rem;
    font-size: 3rem;
}
h2 {
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 2rem;
}

p {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
    color: grey;
}

#userPlayer {
    color: palegreen;
    font-weight: bold;
}

.vs {
    font-size: 3rem;
}

#salvosTable {
    margin-left: 3rem;
}
.tables {
    display: flex;
}
h3 {
    text-align: center;
}
/*.cellWithShip {*/
    /*background-color: palegreen;*/
/*}*/

/* estilo tabla leaderBoard*/

#leaderBoard th {
    width: 5rem;
    border-left: 0;
    border-right: 0;
}
#tableLeader td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0;
}
#leaderBoard thead {
    background-color:  #395870;
    color: white;
    border-color:  #395870;

}
#leaderBoard thead tr {
    border-bottom-color: #395870;
}

#leaderBoard {
    border-color:  #395870;

}
#tableLeader tr:nth-child(even) {
    background: #f0f0f2;
}

/* Estilo login */

#currentUser{
    display: none;
}

/*Estilo drag and drop*/

#aircraft {
    width: 15rem;
    height: 3rem;
    background-color: forestgreen;
    border: 2px solid black;
    border-radius: 10px;
}

#battleship {
    width: 12rem;
    height: 3rem;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
}

#destroyer {
    width: 9rem;
    height: 3rem;
    background-color: darkgoldenrod;
    border: 2px solid black;
    border-radius: 10px;
}

#submarine {
    width: 9rem;
    height: 3rem;
    background-color: coral;
    border: 2px solid black;
    border-radius: 10px;
}

#patrolboat {
    width: 6rem;
    height: 3rem;
    background-color: crimson;
    border: 2px solid black;
    border-radius: 10px;
}

[draggable] {
    user-select: none;
}

#aircraft:hover, #battleship:hover, #destroyer:hover, #submarine:hover, #patrolboat:hover {
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 3px #000;
    opacity: 0.4;
    cursor: move;
}

#ships {
    margin-left: 25px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}

.aircraft, .battleship, .destroyer, .submarine, .patrolboat {
    margin-top: 50px;
}

.verticalAircraft {
    transform: rotate(90deg);
    transform-origin: 15% 25%;
    margin-bottom: 75px;
    margin-top: 75px;
}


.verticalBattleship {
    transform: rotate(90deg);
    transform-origin: 20% 20%;
    margin-bottom: 50px;
    margin-top: 75px;
}

.verticalDestroyer, .verticalSubmarine {
    transform: rotate(90deg);
    transform-origin: 25% 25%;
    margin-bottom: 25px;
    margin-top: 75px;
}

.verticalPatrolboat {
    transform: rotate(90deg);
    transform-origin: 33% 33%;
    margin-bottom: 0px;
    margin-top: 65px;
}









